* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg-color{
    background-image: url(../img/bgimage.png);
    background-color: #090F1D;
    background-size: cover;
    max-width: 100%;
    min-height: 100vh;
    background-blend-mode: color-burn;
}

.mynav{
    min-height: 80px;
    width: 100%;
    /* background-color: red; */
}

.f-row-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    width: 60vh;
    min-height: 80px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.menu ul li {
    list-style-type: none;
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.menu ul li a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #D6EF0E;
    ;
    transition: 1s;
}

.menu ul li a.active {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid #D6EF0E;
    transition: .7s;
}

.nav-btn {
    float: left;
    width: 140px;
    height: 48px;
    background-color: #D6EF0E;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
} 

.nav-btn:hover {
    background: none;
    color: #D6EF0E;
    border: 1px solid #D6EF0E;
    transition: .3s;
} 

.nav-burger {
    position: relative;
    left: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    display: none;
    z-index: 2;
    cursor: pointer;
}

.nav-burger span {
    position: fixed;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 15px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.nav-burger span:nth-child(1) {
    transform: translateY(-10px);
}

.nav-burger span:nth-child(3) {
    transform: translateY(10px);
}

.mynav.open .nav-burger span {
    background-color: white;
}

.mynav.open .nav-burger span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.mynav.open .nav-burger span:nth-child(2) {
    opacity: 0;
}

.mynav.open .nav-burger span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.myopacity {
    opacity: 0;
}

.section-1 {
    width: 100%;
    height: calc(100vh - 80px);
}

.section-1_left {
    width: 50%;
    min-height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.section-1_right {
    width: 50%;
    min-height: 100%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.section-1_img {
    background-image: url('../img/section1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 380px;
    height: 480px;
    position: relative;
}

.section-1_img-end {
    position: absolute;
    width: 280px;
    height: 150px;
    background-color: #131E3A;
    bottom: -25px;
    left: 170px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #D6EF0E;
    box-shadow: 0px 9px 50px rgba(39, 65, 123, 0.04);
}

.section-1_img-end:hover {
    transform: scale(1.1);
}

.section-1_img-end-top {
    width: 250px;
    height: 50px;
    position: relative;
}

.section-1_img-end-top span:nth-child(1) {
    color: #D6EF0E;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
}

.section-1_img-end-top span:nth-child(2) {
    color: #D6EF0E;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
}

.section-1_img-end-top span:nth-child(3) {
    color: #FFFFFD;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
}

.section-1_img-end-top span:nth-child(4) {
    color: #FFFFFD;
    position: absolute;
    bottom: 0;
    right: 18px;
    font-size: 14px;
}

.section-1_img-end-btn {
    width: 220px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #D6EF0E;
    color: #D6EF0E;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.section-1_img-end-btn:hover {
    background-color: #D6EF0E;
    color: #131E3A;
    transition: .7s;
}

.circle {
    position: relative;
    width: 170px;
    height: 170px;
    left: -50px;
    top: 160px;
    animation-name: starmoving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 80%;
    color: white;
    position: absolute;
  }

.star {
    width: 25px;
    height: 25px;
    background-image: url("../img/star.png");
    background-size: contain;
    position: absolute;
    top: 55px;
    left: 55px;
}

.section-1_left-title {
    margin-top: 60px;
    width: 450px;
    min-height: 230px;
}

.section-1_left-title h1 {
    font-size: 56px;
    color: #FFFFFD;
    margin-bottom: 10px;
}

.section-1_left-title h1 span {
    font-size: 56px;
    color: #D6EF0E;
}

.section-1_left-title p {
    color: #FFFFFD;
    font-weight: 400;
    font-size: 14px;
}

.section-1_left-btn {
    width: 130px;
    height: 40px;
    background-color: #D6EF0E;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.section-1_left-btn:hover {
    background-color: transparent;
    color: #D6EF0E;
    border: 1px solid #D6EF0E;
}

.section-1_left span {
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.section-1_left span:hover {
    color: #D6EF0E;
}

.section-1_left .stats {
    width: 450px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.section-1_left .stats .frame-left {
    width: 80px;
    height: 85px;
    border-right: 1px solid #D6EF0E;
    box-sizing: content-box;
    padding-right: 10px;
}

.section-1_left .stats .frame-left p:first-child{
    color: #D6EF0E;
    font-size: 40px;
    margin-bottom: 5px;
}

.section-1_left .stats .frame-left p span {
    color: #FFFFFD;
    font-size: 40px;
}

.section-1_left .stats .frame-left p:last-child{
    color: #FFFFFD;
    font-size: 12px;
}

.section-1_left .stats .frame-center {
    width: 80px;
    height: 85px;
    border-right: 1px solid #D6EF0E;
    box-sizing: content-box;
    padding-right: 10px;
}

.section-1_left .stats .frame-center p:first-child{
    color: #D6EF0E;
    font-size: 40px;
    margin-bottom: 5px;
}

.section-1_left .stats .frame-center p span {
    color: #FFFFFD;
    font-size: 40px;
}

.section-1_left .stats .frame-center p:last-child{
    color: #FFFFFD;
    font-size: 12px;
}

.section-1_left .stats .frame-right {
    width: 80px;
    height: 85px;
}

.section-1_left .stats .frame-right p:first-child{
    color: #D6EF0E;
    font-size: 40px;
    margin-bottom: 5px;
}

.section-1_left .stats .frame-right p span {
    color: #FFFFFD;
    font-size: 40px;
}

.section-1_left .stats .frame-right p:last-child{
    color: #FFFFFD;
    font-size: 12px;
}

.section-2 {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.section-2_title {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-2_title h1 {
    width: 40%;
    min-height: 80px;
    color: #FFFFFD;
    font-size: 38px;
}

.section-2_title h1 span {
    color: #D6EF0E;
    font-size: 38px;
}

.section-2_title button {
    width: 120px;
    height: 50px;
    background-color: #D6EF0E;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.section-2_title button:hover {
    background-color: transparent;
    color: #D6EF0E;
    border: 1px solid #D6EF0E;
}

.section-2_cards {
    width: 100%;
    min-height: 65vh;
    display: flex;
    justify-content: space-between;
}

.section-2_cards .card {
    width: 350px;
    min-height: 430px;
    background-color: #131E3A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #D6EF0E;
    border-radius: 28px;
}

.section-2_cards .card:hover {
    transform: scale(1.1);
    transition: .7s;
}

.section-2_cards .card img {
    width: 90%;
    height: auto;
}

.section-2_cards .card .card-frame {
    min-height: 12vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2_cards .card .card-frame .card-frame-top {
    width: 100%;
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section-2_cards .card .card-frame .card-frame-top h4 {
    font-size: 20px;
    color: #FFFFFD;
}

.section-2_cards .card .card-frame .card-frame-top h5{
    font-size: 14px;
    color: #FFFFFD;
}

.section-2_cards .card .card-frame .card-frame-top h5::before {
    content: '';
    background-image: url('../img/ephirium.png');
    background-size: contain;
    width: 14px;
    height: 14px;
    color: #FFFFFD;
    position: absolute;
    right: 75px;
}

.section-2_cards .card .card-frame .card-frame-bottom {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-2_cards .card .card-frame .card-frame-bottom button {
    width: 140px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #D6EF0E;
    color: #D6EF0E;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.section-2_cards .card .card-frame .card-frame-bottom button:hover {
    background-color: #D6EF0E;
    color: #131E3A;
    transition: .7s;
}

.section-2_cards .card .card-frame .card-frame-bottom .card-frame-bottom_time {
    width: 100px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-2_cards .card .card-frame .card-frame-bottom .card-frame-bottom_time span:nth-child(1) {
    color: #838382;
    font-size: 10px;
}

.section-2_cards .card .card-frame .card-frame-bottom .card-frame-bottom_time span:nth-child(2) {
    color: #FFFFFD;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.section-2_cards .card .card-frame .card-frame-bottom .card-frame-bottom_time span:nth-child(2) img {
    object-fit: contain;
    width: 14px;
    height: 12px;
    color: #FFFFFD;
    border: 1px solid #FFFFFD;
    border-radius: 50%;
    margin-right: 5px;
}

.section-3 {
    width: 100%;
    height: 95vh;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-3 .section-3_left {
    width: 350px;
    min-height: 230px;
}

.section-3_left-title {
    width: 350px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-3_left-title h1 {
    font-size: 44px;
    color: #FFFFFD;
}

.section-3_left-title h1 span {
    font-size: 44px;
    color: #D6EF0E;
}

.section-3_left-title p {
    color: #FFFFFD;
    font-weight: 400;
    font-size: 14px;
}

.section-3_left-btn {
    width: 130px;
    height: 40px;
    background-color: #D6EF0E;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.section-3_left-btn:hover {
    background-color: transparent;
    color: #D6EF0E;
    border: 1px solid #D6EF0E;
}

.section-3_left span {
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.section-3_left span:hover {
    color: #D6EF0E;
}

.section-3_right {
    width: 630px;
    min-height: 480px;
    position: relative;
}

.section-3_right .photo1 {
    background-image: url("../img/section-3_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 55%;
    height: 70%;
    bottom: 0;
    z-index: 12222;
}

.section-3_right .photo2 {
    background-image: url("../img/section-3_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 60%;
    height: 85%;
    right: 0;
}

.section-4 {
    width: 100%;
    height: 95vh;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-4_title {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.section-4_title h1 {
    width: 30%;
    min-height: 80px;
    color: #FFFFFD;
    font-size: 38px;
}

.section-4_title h1 span {
    color: #D6EF0E;
    font-size: 38px;
}

.section-4_title button {
    width: 120px;
    height: 50px;
    background-color: #D6EF0E;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.section-4_title button:hover {
    background-color: transparent;
    color: #D6EF0E;
    border: 1px solid #D6EF0E;
}

.section-4_images {
    width: 100%;
    min-height: 65vh;
    display: flex;
    justify-content: space-between;

}

.section-4_images-left {
    width: 73%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-4_images-right {
    width: 25%;
    min-height: 100%;
    background: linear-gradient(2.23deg, rgba(19, 30, 58, 0.92) 16.36%, rgba(19, 30, 58, 0) 52.73%), url("../img/image5.png");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 14px;
}

.section-4_images-frame {
    width: 100px;
    min-height: 35px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1222;
}

.section-4_images-frame img {
    width: 35px;
    height: 35px;
}

.section-4_images-frame_user {
    width: 60px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-4_images-frame_user span {
    font-size: 8px;
    color: #FFFFFD;
}

.section-4_images-frame_user h5 {
    font-size: 10px;
    min-width: 100px;
    color: #FFFFFD;
    margin: 0;
}

.section-4_images-left-top {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-between;
}

.section-4_images-left-bottom {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-between;
}

.section-4_images-left-top-left {
    width: 33%;
    height: 100%;
    background: linear-gradient(2.23deg, rgba(19, 30, 58, 0.92) 16.36%, rgba(19, 30, 58, 0) 52.73%), url("../img/image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 14px;
}

.section-4_images-left-top-right {
    width: 65%;
    height: 100%;
    background: linear-gradient(2.23deg, rgba(19, 30, 58, 0.92) 16.36%, rgba(19, 30, 58, 0) 52.73%), url("../img/image2.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
    position: relative;
}

.section-4_images-left-bottom-left {
    width: 49%;
    height: 100%;
    background: linear-gradient(2.23deg, rgba(19, 30, 58, 0.92) 16.36%, rgba(19, 30, 58, 0) 52.73%), url("../img/image3.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 14px;
}

.section-4_images-left-bottom-right {
    width: 49%;
    height: 100%;
    background: linear-gradient(2.23deg, rgba(19, 30, 58, 0.92) 16.36%, rgba(19, 30, 58, 0) 52.73%), url("../img/image4.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 14px;
}

.section-4_images-left-bottom-right:hover {
    transform: scale(1.05);
    border: 3px solid #D6EF0E;
}

.section-4_images-left-bottom-left:hover {
    transform: scale(1.05);  
    border: 3px solid #D6EF0E;
}

.section-4_images-left-top-right:hover {
    transform: scale(1.05);
    border: 3px solid #D6EF0E;
}

.section-4_images-left-top-left:hover {
    transform: scale(1.05);  
    border: 3px solid #D6EF0E;
}

.section-4_images-right:hover {
    transform: scale(1.05);  
    border: 3px solid #D6EF0E;
}

.section-5 {
    width: 100%;
    height: 95vh;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-5 .section-5_right {
    width: 450px;
    min-height: 230px;
}

.section-5_right-title {
    width: 450px;
    min-height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-5_right-title h1 {
    font-size: 44px;
    color: #FFFFFD;
    font-weight: 500;
}

.section-5_right-title h1 span {
    font-size: 44px;
    color: #D6EF0E;
}

.section-5_right-title p {
    color: #FFFFFD;
    font-weight: 400;
    font-size: 15px;
}

.section-5_right .email {
    width: 100%;
    height: 45px;
    position: relative;

}

.section-5_right .email input {
    width: 100%;
    height: 45px;
    background-color: #131E3A;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
}

.section-5_right-btn {
    width: 130px;
    height: 36px;
    background-color: #D6EF0E;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.section-5_right-btn:hover {
    background-color: transparent;
    color: #D6EF0E;
    border: 1px solid #D6EF0E;
}


.section-5_left {
    width: 700px;
    min-height: 480px;
    position: relative;
}

.section-5_left .photo3 {
    position: absolute;
    width: 60%;
    height: 80%;
    bottom: 0;
}

.section-5_left .photo4 {
    position: absolute;
    width: 40%;
    height: 60%;
    right: 100px;
    bottom: 0;
    z-index: 2222;
}







@media (max-width: 768px) {
    .nav-burger {
        display: block;
    }

    .menu {
        position: absolute;
        left: -100%;
        top: 0;
        width: 100%;
        background-color: #D6EF0E;
        padding: 60px 20px 20px;
        transition: transfrom .5s;
    }
    
    .menu ul {
        display: block;
    }

    .menu ul li a {
        font-size: 24px;
        display: block;
        padding: 10px 0;
    }

    .mynav.open .menu {
        transform: translateX(100%);
    }

    .nav-btn {
        position: fixed;
        top: 5px;
        right: 5px;
    }

}